/* PHASE 3: Content */

.content {
  background-color: #fff;
  width: 900px;
  margin: auto;
  font-size: 14px;

}

.content-sidebar {
  width: 220px;
  float: left;
  padding: 10px;

}

.content-main {
  width: 640px;
  float: left;
  padding: 10px;

}

.content h1 {
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: bold;

}

.content p {

}
