/* PHASE 4: Footer */

.footer {
  /*float: left;*/
  background-color: #fff;
  display: block;
  font-size: 12px;
  color: #eee;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-top: 1px solid #ccc;
  height: 20px;

}

.footer-copy {
  float: left;
}

.footer-links {
  float: right;
  /*background-color: blue;*/

}

.footer-links > li {
  float: left;
  /*background-color: green;*/
  padding-right: 10px;
}

.footer a {

}

.footer a:hover {
  color: #000;
}
